*{
    margin: 0;
    padding: 0;
}
body{ background-color: #5486;
text-align: center;
}
.container{
    display: flex;
    height: 70vh;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.game{display: flex;
    
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
    height: 60vmin;
    width: 60vmin; 
}
.box{ 
    height: 18vmin;
    width: 18vmin;
    border-radius: 8px;
    font-size: 55px;
    background-color: rgb(235, 223, 5);
    color: rgb(253, 30, 5);

   
}
#rsetbtn{
    border-radius: 5px;
     height:30px ;
     width:80px ;
     font-weight: 600;
}
#newgame{
    border-radius: 5px;
    height:30px ;
    width:80px ;
    font-weight: 600;

}
#msg{
    color: rgb(235, 11, 11);
    font-weight: 600;
    font-size: larger;
    background-color: aqua;
    height: 80px;
    
    
    
}
.hide{
    display: none;
}

